<% if model.errors.any? %>
    <h2>You have <%= pluralize(model.errors.count, "error") %>:</h2>
    <ul>
        <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>