<p>
    <%= link_to "Sign in", '#' %> or <%= link_to "Sign up", new_user_path %>
</p>

<h1>All Posts</h1>

<ul>
    <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post.id) %></li>
    <% end %>
</ul>